<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample View</title>
</head>
<body>
<center>
    <table width="630" style="margin=0px" border="1">
        <tr>
            <td colspan="2">
                <center>
                    21.01.2020 22:12
                </center>
            </td>
        </tr>
        <tr>
             <td>
            <table border="1" width="220">

        <tr>
            <td>22°C</td>
            <td>17/22°C</td>
        </tr>
                  <tr>
            <td colspan="2">0mm</td>

        </tr><tr>
            <td colspan="2">10kmh</td>

        </tr>
                <tr><td colspan="3">
                    <table border="1" width="220">
                        <tr>
                            <td> Mo</td>
                            <td> 17/18°C</td>
                            <td> W</td>
                        </tr>
                    </table>
                </td></tr>
                <tr><td colspan="3">
                    <table border="1" width="220">
                        <tr>
                            <td> Mo</td>
                            <td> 17/18°C</td>
                            <td> W</td>
                        </tr>
                    </table>
                </td></tr>
                <tr><td colspan="3">
                    <table border="1" width="220">
                        <tr>
                            <td> Mo</td>
                            <td> 17/18°C</td>
                            <td> W</td>
                        </tr>
                    </table>
                </td></tr>
                 </table>
        </td>



            <td>
                <table border="1" width="400">
        <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                     <tr>
            <td>S8</td>
            <td>Hanau Hbf</td>
            <td>17:19</td>
            <td>+15</td>
        </tr>
                    </table>
        </td>


    </table>
</center>
</body>
</html>